.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: 30px;
}
.counter-btn{

    display: flex;
    gap: 2rem;
}
button{
    padding: 10px;
    font-size: 25px;
    border-radius: 10px;
}
button:hover{
    background-color: cadetblue;
    cursor: pointer;
}
